<!DOCTYPE html>
<html {{ site.language_attributes }}>
<head>
  <meta charset="{{site.charset}}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#000">
  <link rel="profile" href="htpp://gmpg.org/xfn/11">
  <link rel="shortcut icon" href="{{ site.theme.link }}/favicon.ico" type="image/x-icon">
  
  {{ wp_head }}
</head>

<body {{ body_class }}>
  <header class="header">
    <div class="wrapper">
      <a href="{{ site.url }}">{{ site.name }}</a>
      <ul class="main-nav">
        {% for item in main_menu.get_items %}
            <li class="nav-main-item"><a class="nav-main-link" href="{{item.get_path}}">{{item.title}}</a>
        {% endfor %}
      </ul>
    </div>
  </header> <!-- header -->

  {% block content %}
  {% endblock %}

  {{ wp_footer }}
</body>
</html>